html
    head
        title MIT APP - smart fan
        link(rel='preconnect' href='https://fonts.googleapis.com')
        link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
        link(href='https://fonts.googleapis.com/css2?family=Righteous&display=swap' rel='stylesheet')
        link(rel="stylesheet", href="css/index.css")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
    body
        header 
            .logo 
                .logo__name G_Eleven
                .logo__title Connect everything
        main 
            h3 Điều khiển quạt từ xa
            .group-flex
                .group-btn 
                    
                    button.group-btn__btn.on#btn-on Bật

                .group-btn 
                    
                    button.group-btn__btn.off#btn-off Tắt
            
            h3 Bật tắt chức năng cảm biến
            .group-flex
                .group-btn 
                    
                    button.group-btn__btn.on#sensor-on Bật

                .group-btn 
                    
                    button.group-btn__btn.off#sensor-off Tắt
            
            h3 Hẹn giờ quạt tắt (giờ)
            .group-flex
                .group-btn 
                    input(type="number", name="", min="1", max="24", value="1")#input
                    button.group-btn__btn.on#timing Hẹn

            h3 Tình trạng quạt:
        footer
            p Developed by Group 11 IoT Ton Duc Thang 
            small Le Anh Hao ft Giang Phi Pham
        <script src="https://cdn.socket.io/4.1.2/socket.io.min.js" integrity="sha384-toS6mmwu70G0fw54EGlWWeA4z3dyJ+dlXBtSURSKN4vyRFOcxd3Bzjj/AoOwY+Rg" crossorigin="anonymous"></script>
        script(src="js/index.js") 